/* font importing */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* buttons style */
button{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
}
/* top part styles */

.top{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    background-color: #2D25A0;
    padding: 153px 141px 86px 156px;
    grid-row-gap: 102px;
    margin-bottom: 60px;
}
.top-title{
    width: 485px;
    height: 230px;
}
.top-title .top-head{
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
}
.top-image img{
    width: 556.01px;
    height: 438px;
}

/* ------------------------------------
----mid-bottom full section style------ 
--------------------------------------*/
.others{
    background-color: #FFFFFF;
}

/* players section styles */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-left: 140px;
    margin-right: 250px;
    margin-bottom: 100px;
}
.player{
    Width: 300px;
    Height: 474px;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 40px 0px #00000026;
}
.player-image img{
    width: 300px;
    height: 256px;
}
.player-detail h3{
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
}
.player-detail p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}