/* font importing */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* buttons style */
button{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
}
/* top part styles */

/* hover in top  */
.top:hover{
    transform: scale(1.3);
    transition: transform 3s;
}
.top{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    background-color: #2D25A0;
    padding: 153px 141px 86px 156px;
    grid-row-gap: 102px;
    margin-bottom: 60px;
}
.top-title{
    width: 485px;
    height: 230px;
}
.top-title .top-head{
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
}
.top-image img{
    width: 556.01px;
    height: 438px;
}

/* ------------------------------------
----mid-bottom full section style------ 
--------------------------------------*/
.others{
    background-color: #FFFFFF;
}

/* players section styles */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-left: 140px;
    margin-right: 250px;
    margin-bottom: 150px;
}
.player{
    Width: 300px;
    Height: 474px;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 40px 0px #00000026;
}
.player-image img{
    width: 300px;
    height: 256px;
}
.player-detail h3{
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
}
.player-detail p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}

/* match part style  */

.match{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 66px;
    width: 567px;
    height: 427px;
    margin-left: 140px;
    margin-bottom: 150px;

}
.match-details{
    width: 469px;
    height: 309px;
}
.match-details .match-title{
    font-size: 48px;
    font-weight: 700;
}
.match-details .match-description{
    font-size: 16px;
}
.match-image img{
    Width: 567px;
    Height: 427px;
}

/* footer section styles */

.footer{
    width: 483.87px;
    height: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    justify-items: center;
    margin-left: 450px;
    margin-bottom: 60px;
}
.footer .logo img{
    width: 483.87px;
    height: 110px;
}
.comment .icon{
    width: 170px;
    height: 32px;
}
.icon .fab{
    Width: 32px;
    Height: 32px;
    margin: 1px 3px 1px 3px;
    color: gray;
}
.comment>p>small{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
}

/*-----------------------------------
-----------Media Queries ------------
------------------------------- -----*/
/* Mobile Devices */
@media only screen and (max-width:688px){
    .top{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        width: 50%;
    }
    .others{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        width: 100%;
    }
    .top-title{
        margin-bottom: 100px;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .player{
        flex-direction: column;
    }
    .match{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        margin: none;
        width: 50%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: right;
        justify-items: center;
        width: 170px;
        height: 300px;
        margin: none;
    }
}

/* Tablet Devices */
@media only screen and (min-width:688px) and (max-width:992px) {
    .top{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2,1fr);
    }
    .player{
        flex-direction: column;
    }
}